<mat-toolbar class="mat-elevation-z5">
    <app-nav></app-nav>

    <div class="fill-remaining-space"></div>

    <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="setLanguage('de-DE')"><mat-icon svgIcon="de-DE"></mat-icon><span>de-DE</span></button>
        <button mat-menu-item (click)="setLanguage('en-GB')"><mat-icon svgIcon="en-GB"></mat-icon><span>en-GB</span></button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon [svgIcon]="currentLanguage"></mat-icon>
    </button>
</mat-toolbar>